@mixin box-shadow($horizontalShadow, $verticalShadow)
{
    -webkit-box-shadow: $horizontalShadow, $verticalShadow;
    -moz-box-shadow: $horizontalShadow, $verticalShadow;
    box-shadow: $horizontalShadow, $verticalShadow;
}