
//Overall Variables
$backgroundColour: #3F454E;
$textColour: rgba(245, 245, 245, 0.534);
$fontSize: 16px;

//Input Variables
$inputBackgroundColour: #FFFFFF;
$inputTextColour: #DB977E;
$inputFontSize: 18px;
$borderRadius: 2px;

// ! ^^ Could use placeholders to hold font size so they can be changed via media queries.
