
//Import font
@import url('https://fonts.googleapis.com/css?family=Roboto');

//Partial .SCSS Imports
@import 'variables';
@import 'locationForm';

html, body
{
    /*Fill the screen and remove default margin.*/
    height: 100%;
    margin: 0;
}

.content
{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100%;
    background: $backgroundColour;

    font-family: 'Roboto';
    font-size: $fontSize;
}







